* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Manrope', sans-serif;
  margin: 0;
  padding: 0;
}

main {
  padding: 20px;
  display: flex;
  gap: 1.5rem;
}

h2,
h3 {
  color: #C70101;
}

header {
  display: inline;
}

footer {
  padding: 20px;
  color: white;
  background-color: #C70101;
  text-align: center;
  font-weight: bold;
}

nav {
  background-color: #C70101;
  padding: 5px;
  position: sticky;
  top: 0;
}

nav ul {
  padding-inline: 4rem;
  display: flex;
  gap: 2rem;
}

nav li {
  list-style-type: none;
}

nav a {
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  color: white;
}

nav a:hover {
  font-weight: bold;
}

.profile header {
  text-align: center;
}

.profile img {
  width: 200px;
}

#table-profile {
  border-collapse: collapse;
  width: 100%;
}

#table-profile th, #table-profile td {
  width: 50%;
  padding-left: 8px;
  padding-right: 8px;
}

#table-profile th {
  text-align: right;
}

.content-history {
  display: none;
  padding-left: 36px;
}

.content-history.show {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-history figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 0px;
}

.content-history figcaption {
  width: 80%;
  font-style: italic;
  font-size: small;
  text-align: center;
  color: #C70101;
  margin-top: 8px;
}

.rounded-image {
  border-radius: 10px;
}

.jumbotron img {
  width: 100%;
  object-fit: cover;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 20px;
}

.jumbotron {
  font-size: 20px;
  background-color: #000000;
  text-align: center;
  color: #C70101;
}

#content {
  flex: 5;
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem 2rem;
}

aside {
  flex: 1;
}

#players, #players-on-loan {
  border-collapse: collapse;
  width: 100%;
}

#players td, #players th, #players-on-loan td, #players-on-loan th {
  border: 1px solid #ddd;
  padding: 8px;
}

#players tr:nth-child(even), #players-on-loan tr:nth-child(even) {
  background-color: #f2f2f2;
}

#players th, #players-on-loan th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #C70101;
  color: white;
}

.red {
  color: #C70101;
}

.material-icons.md-30 {
  font-size: 30px;
}

.subtitle {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.subtitle h3 {
  margin: 0;
}

/* Efek transisi rotasi */
.subtitle.rotate .material-icons {
  transition: transform 0.3s ease;
}

/* Rotasi 90 derajat saat diklik */
.subtitle.rotate.clicked .material-icons {
  transform: rotate(90deg);
}

/* Perangkat dengan lebar layar 1200px dan di bawahnya */
@media screen and (max-width: 1200px) {
  main {
    flex-flow: column nowrap;
  }

  main aside {
    align-self: center;
  }
}

/* Perangkat dengan lebar layar 768px dan di bawahnya */
@media screen and (max-width: 768px) {
  nav ul {
    justify-content: center;
  }

  main aside {
    align-self: stretch;
  }
}

th {
  vertical-align: top;
}

td {
  font-weight: 300;
}